/* Navs */
.carousel_content {
    height: 85vh;
}
.info_site-icon {
    margin-top: 3rem;
    height: 140px;
}

/* Content */
.line_top {
    border-top: 1px solid #B6B6B6;
}
.text_info-side {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.img_info_side {
    margin-top: 2rem;
    height: 170px;
}
.form-checks {
    margin-left: 1rem;
}
.form-check-label-1 {
    margin-left: 0.5rem;
}
.inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;

}
.btn_suscription {
    width: 300px;
}
.search {
    height: 100vh;
}
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tool-bar {
    margin-top: 1em;
    padding: 2rem;
    border-radius: 5px;
    background-color: white;
    width: 85%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.header-text {
    margin-top: 4rem;
    padding: 1rem;
    width: 85%;
}
#search {
    background: url('../resources/Diseño\ sin\ título.png');
    object-fit: contain;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
}

.container-img {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    overflow: hidden;
}
.container-img .box-img figure {
    width: 100%;
    height: 100%;
    cursor: default;
}

.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s, visibility .25s ease-in;
}
.container-img .box-img img:hover {
    transform: scale(1.1);
}

.box-img {
    position: relative;
    display: inline-block;
}

figure {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    transform-origin: 0 0;
}

.info__galery {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(30, 30, 30, 0.7); /* Color de fondo con transparencia */
    padding: 10px;
    box-sizing: border-box;
    z-index: 1; /* Coloca el div por encima de la imagen */
}
.container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(3) {
    grid-column-start: span 1;
}
.container-img .box-img:nth-child(4) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(5) {
    grid-column-start: span 3;
}

/* APP SITE */
.app-site {
    background-color: #E6E6E6;        
}
.img-card-mini {
    height: 112px;
    width: 100%;
    object-fit: fill;
}
.grid-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    padding: 2rem;
}
.grid-text-main {
    padding-top: 4rem;
    padding-left: 2rem;
}
.grid-text {
    padding-left: 2rem;
}
.top-items {
    margin-bottom: 1rem;
}
.breadcrumbs {
    padding-top: 7em;
}
.grid__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    padding: 2rem;
}
.card-info-icon {
    padding-top: 1.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.bxs-offer,.bxs-popsicle,.bxs-star {
    font-size: 4rem;
}
.font_small {
    font-size: small;
}
.bg-destinos {
    background-color: #F5F7F9;
}
.inner_text-card {
    font-size: 1.1rem;
}
.pointer-flex {
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.pointer-flex:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.inner_text-card-price {
    font-size: 1.3rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.right-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bx-chevron-right {
    font-size: 2rem;
}
.li-item-card {
    color: #00A991;
    font-weight: 500;
}
.left-card-sub {
    margin-top: 3rem;
    height: 110px;
}
.card__bottom {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.terms {
    margin-top: 1rem;
    font-size: small;
}
.btn_submit {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: none;
    transition: 0.2s ease-in-out;
}
.btn_submit-top {
    width: 320px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #DADADA;
    transition: 0.3s ease-in-out;
}
.btn_submit:hover {
    background-color: #DCE3E9;
}
.btn_submit-top:hover {
    background-color: #DCE3E9;
}
.auto__fill {
    width: 310px !important;
}
#no__list-ul {
    padding-right: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    padding-top: 1.5rem;
}
.ul__top-line {
    border-top: 1px solid #DCE3E9;
}
.icon__plane > i {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bxs-plane-alt {
    background: #F0F0F0;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
.mini__logo-card {
    height: 23px;
    width: 23px;
}
.sm-text {
    font-size: small;
}
.card__spacing {
    margin-top: 1rem;
}

/* FOOTER */
/* -------------------------- FOOTER -------------------------- */
footer {
    background-color: #2D2D2D;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    color: #E3E3E3;
}
.footer-item {
    color: #52A3E2;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.top__margin-footer {
    padding-top: 0.7rem;
}
.footer__li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__li a{
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* ============ small devices ============ */
@media only screen and (max-width: 1200px) {
    .img-card-mini {
        height: 140px;
        width: 100%;
        object-fit: fill;
    }
}

/* ============ small devices ============ */
@media only screen and (max-width: 1360px) {
    .carousel_content {
        height: auto;
        margin-bottom: 4rem;
    }
    .info_site-icon {
        height: 100px;
    }
}	

/* ============ small devices ============ */	
@media only screen and (max-width: 992px) {
    /* Estilos para pantallas más pequeñas, como tablets */
    .info_site-icon {
        height: 100px;
    }
    .line_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 100% !important;
    }
    .text_info-side {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
    .grid-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        padding: 2rem;
    }
}
  
@media only screen and (max-width: 768px) {
    /* Estilos para pantallas aún más pequeñas, como móviles en orientación horizontal */
    .names_info-top {
        padding: 0 !important;
        margin: 0 !important;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1rem;
    }
    .column {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
  
@media only screen and (max-width: 576px) {
    /* Estilos para pantallas pequeñas, como móviles en orientación vertical */
    .info_site-icon {
        margin-top: 1rem;
        height: 140px;
    }
}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 320px) {

}